apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wordpress.fullname" . }}-config
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
data:
  apache.conf: |
    {{- .Values.config.apache | nindent 4 }}
  php.ini: |
    {{- range $key, $value := .Values.config.php }}
    {{ $key }} = {{ $value }}
    {{- end }}
  default.htaccess: |
    {{- .Values.config.htaccess.prepend | nindent 4 }}

    # BEGIN WordPress

    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteBase /
    RewriteRule ^index\.php$ - [L]

    {{- .Values.config.htaccess.rules | nindent 4 }}

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]

    # END WordPress

    {{- .Values.config.htaccess.append | nindent 4 }}
  multisite.htaccess: |
    {{- .Values.config.htaccess.prepend | nindent 4 }}

    # BEGIN WordPress

    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteBase /
    RewriteRule ^index\.php$ - [L]

    {{- .Values.config.htaccess.rules | nindent 4 }}

    # add a trailing slash to /wp-admin
    RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
    RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
    RewriteRule . index.php [L]

    # END WordPress

    {{- .Values.config.htaccess.append | nindent 4 }}
