apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "phpbb.fullname" . }}-config
  labels:
    {{- include "phpbb.labels" . | nindent 4 }}
data:
  apache.conf: |
    {{- .Values.config.apache | nindent 4 }}
  php.ini: |
    {{- range $key, $value := .Values.config.php }}
    {{ $key }} = {{ $value }}
    {{- end }}
